* {
    padding: 0;
    margin: 0;
    font-family: 'piedra', serif;
    box-sizing: border-box;
}

header { 
    height: 90px;
    width: 100%;
    background-color: rgb(0,130,150);
    position :fixed;
    top: 0;
    z-index: 10;
}

.img {
    float: left;
}

header img {
    display: inline-block;
    width: 200px;
    height: 90px;
    
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
    padding: 20px 20px;
    margin-top: 10px;
    font-size: 18px;
    }

header ul li:hover {
    color: coral;
}

header ul li a{
    transition: 0.6s;
}

.container {
    width: 100%;
    margin: 0 auto
}
.container::after {
    content: '';
    display: block;
    clear: both;
}

/* menu bisa muncul dan hilang bila di minimize*/
.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
}

.mobile-menu:hover {
   cursor: pointer;
}

#check {
    display: none;
}

/* css sidebar*/
.sidebar {
    position: fixed;
    top: 90px;
    bottom: 0;
    left: -300px;
    width: 200px;
    background-color: rgba(16,47,80);
    opacity: 0.9;
    transition: 0.3s;
}
.sidebar ul li{
    color: cornsilk;
}
.sidebar ul li {
    padding:20px;
}
.sidebar ul li:hover {
    background-color: cyan;
    transition: 0.6s;
    color: black;
}
#check:checked ~ .sidebar {
    left: 0;
}

/*main*/


/* footer */
footer {
    background-color:#95e0f5;
}

footer p {
    color: #3739ab;
}

@media (max-width: 800px) {
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
}
